@keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }
  
  .animate-cube {
    animation: cube 7s ease-in forwards infinite;
  }
  
  .animate-delay-0 {
    animation-delay: 0s;
  }
  
  .animate-delay-2 {
    animation-delay: 2s;
  }
  
  .animate-delay-4 {
    animation-delay: 4s;
  }
  
  .animate-delay-6 {
    animation-delay: 6s;
  }
  
  .animate-delay-8 {
    animation-delay: 8s;
  }
  
  .animate-delay-10 {
    animation-delay: 10s;
  }
  